// box-sizing 초기화
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// 글씨 가로모드 확대
html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

// 공백 초기화
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

// a링크 초기화
a,
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

// font 초기화
body,
button,
input,
select,
table,
textarea {
  font-family: 'NexonLv1Gothic';
  // 300, 400, 700
  font-weight: 300;
  // 밑은 맥에서 처리 해줌.(윈도우는 변함 없을 듯?)
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 기본 reset
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul {
  list-style: none;
}
em,
address {
  font-style: normal;
}
strong {
  font-weight: normal;
}
img {
  vertical-align: top;
  width: 100%;
}
table {
  border: 0;
  border-collapse: collaspe;
  border-spacing: 0;
  width: 100%;
}
button {
  background: transparent;
  border: 0;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}